{% load i18n %}
<div class="row-fluid">
    <div id="cart">
        <img class="img" src="{{STATIC_URL}}img/basket.png" />
        {% with amount=cart.get_amount_of_items %}
        {% if amount == 0 or not cart %}
            В корзине пока ничего нет
        {% else %}
         <a id="clear-cart" ><i class="icon-remove"></i></a>
         <div id="cart_content">
            <p>{% trans "Товаров" %}: <span>{{ amount|floatformat }}</span></p>
            <p>{% trans 'На сумму' %}: <span>{{ total_price|floatformat }} {{ SHOP.default_currency.abbr }}</span></p>
        </div>
                <a id="make_order" href="{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
        {% endif %}
        {% endwith %}
    </div>
</div>   
<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
