body {
    background: url(/static/img/bodytop_bg.png) repeat-x top;
}
a{
    color: #C20624;
}
a:hover{
    color: #C20624;
}
#middle-slot-container {
    margin: 0;
}
.navbar {
    margin-bottom: 0;
}
.container {
    width: 1001px;
}
#wrap{
    margin-top: 12px;
}
.topmenu_shadow {
    display: block;
    width: 1003px;
    height: 36px;
    z-index: -1;
    top: 28px;
    position: absolute;
}


.header-shadow{
    box-shadow: none;
    height: 35px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #dddcdc;
    background: #a7a4a5; /* Old browsers */
    background: -moz-linear-gradient(top,  #a7a4a5 0%, #757577 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7a4a5), color-stop(100%,#757577)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a7a4a5 0%,#757577 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a7a4a5 0%,#757577 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a7a4a5 0%,#757577 100%); /* IE10+ */
    background: linear-gradient(top,  #a7a4a5 0%,#757577 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a4a5', endColorstr='#757577',GradientType=0 ); /* IE6-9 */
}

#top_menu ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 7px 12px 0;
    height: 28px;
    font-size: 15px;
    z-index: 10;
    position: relative;
    text-shadow: none;
}
#top_menu ul li:hover {
    background: #717172;
}
#logo{
    margin-top: 25px;
}
#search_button {
    z-index: 5;
    border-radius: 0 5px 5px 0;
    height: 28px;
    width: 50px;
    letter-spacing: -0.5px;
    text-align: center;
    cursor: pointer;
    background: #f6f5f5; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f5f5 0%, #c8c8c8 50%, #f6f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(50%,#c8c8c8), color-stop(100%,#f6f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f5f5 0%,#c8c8c8 50%,#f6f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f5f5 0%,#c8c8c8 50%,#f6f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f5f5 0%,#c8c8c8 50%,#f6f5f5 100%); /* IE10+ */
    background: linear-gradient(top,  #f6f5f5 0%,#c8c8c8 50%,#f6f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#f6f5f5',GradientType=0 ); /* IE6-9 */
    color: #c20624;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: -4px;
}
div.search-block {
    margin: 0;
}
#search-input{
    padding: 0 0 0 7px;
    width: 470px;
    height: 27px;
    border: 1px solid #999999 !important;
    border-width: 1px !important;
    border-radius: 5px !important;
}

.search_text {
    background: #ffffff url(/static/img/search_text_bg.png) no-repeat right center;
    height: 27px;
    position: relative;
    width: 390px;
    padding: 0 10px 0 15px;
}

#search-form{
    position: relative;
}

.search_example {
    color: #585757;
    font-size: 11px;
    margin: 5px 0 0 0;
}
.search_example a {
    font-size: 10px;
    color: #585757;
}
#login{
    margin: 0;
}

#cart {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #b5b3b3;
    height: 84px;
    padding: 10px;
    margin-top: 22px;
}

#cart .img {
    position: absolute;
    top: -26px;
}
#clear-cart{
    float:right;
}
#cart_content {
    line-height: 140%;
    margin: 20px 10px 0 5px;
    font-size: 12px;
}

#cart #cart_content p {
    margin:0;
}

#make_order {
    background: url("/static/img/order_button.png") no-repeat;
    color: white;
    display: block;
    font-size: 10px;
    width: 87px;
    right: 0;
    bottom: 5px;
    position: absolute;
    text-decoration: none;
    padding: 0 0 0 5px;
}

#make_order:hover {
    background: url("/static/img/order_button_hover.png") no-repeat;
}

#footer_wrapper {
    clear: both;
    overflow: hidden;
    height: 97px;
    margin-top: -97px;
}

#footer_wrapper hr.footer {
    height: 1px;
    background: #ffffff;
    margin: 1px 0 0 0;
    display: none;
}

#footer_wrapper2 {
    background: url(/static/img/footer_bg.png) no-repeat top;
    width: 1169px;
    margin: 0 auto;
}

#footer {
    width: 940px;
    margin: 0 auto;
    height: 95px;
    overflow: hidden;
    position: relative;    
    color: #000000;
}

#footer .copyright {
    position: absolute;
    top: 30px;
}

#footer .copyright .vcard {
    margin: 0 0 0 13px;
}

#footer .copyright a {
    color: #000000;
}

#footer .social_links {
    left: 300px;
    position: absolute;
    top: 30px;
}

#footer .social_links a img {
    margin: 5px 0 0 0;
}

#footer .social_links a.facebook, #footer .social_links a.mailru {
  /*  display: none; */
}

#footer .oplata {
    left: 533px;
    position: absolute;
    top: 30px;
}

#footer .oplata img {
    margin: 5px 0 0 0;
}

#footer .aqua {
    line-height: 110%;
    position: absolute;
    right: 11px;
    top: 33px;
    width: 235px;
    text-align: center;
}

#footer .aqua img {
    margin: 3px 5px 0 0;
}

#footer .aqua a {
    text-decoration: none;
    color:  #000000; 
}

#footer .aqua a:hover {
    text-decoration: underline;
}

#header{
    position: relative;
    width: 1001px
}
#main_menu{
    margin: 15px 0;
    border-collapse: inherit;
    background: url(/static/img/mainmenu_bg.png) repeat-x;
    height: 54px;
    z-index: 1000;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: #a9a9a9 1px solid; .
}

#main_menu .item_menu {
    position: relative;
    width: 329px;
    z-index: 1000;
    margin: 0;
    display: inline-block;
    background: url(/static/img/rubricmenu_separator.png) no-repeat left 4px;    
  /*  padding: 10px 0 0 0; */
}
#main_menu .item_menu:hover,#main_menu .item_menu.active  {
    padding: 0;
    border: 0;
    top: -12px;
    left: 6px;
}

#main_menu .item_menu:hover p, #main_menu .item_menu.active p {
    background: #ffffff;
    border-radius: 5px 5px 0 0;
    border: 0;
}


#main_menu .item_menu a {
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: #646464;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: #ffffff 1px 1px 0;
    position: relative;
}

#main_menu .item_menu:hover p a, #main_menu .item_menu.active p a {
    height: 55px;
    margin-bottom: -9px;
    background: none;
    padding-top: 9px;
    border: 1px solid #97999c;
    border-width: 1px 1px 0 1px;
    border-radius: 5px 5px 0 0 ;
}

#main_menu .item_menu:hover a span, #main_menu .item_menu.active a span {
    color: #ce102e;
}

#main_menu .item_menu:last-child p a {
    background: none;
}

#main_menu .item_menu a span {
    display: table-cell;
    vertical-align: middle;
    width: 329px;
    height: 55px;
}

#main_menu .item_menu a:hover {
}

#main_menu .item_menu a.active {
    color: #CD102D;
}

#main_menu .item_menu a .bottom_white {
    display: none;
    height: 6px;
    width: 95%;
    background: #ffffff;
    z-index: 10000;
    position: absolute;
    bottom: -1px;
}

#main_menu .item_menu a:hover .bottom_white {
    display: block;
}

#main_menu .item_menu:hover .bottom_white {
    display: block;
}

#main_menu .item_menu a.activeNow .bottom_white {
    display: block;
}

#main_menu .item_menu .submenu  {
    display: none;
    position: absolute;
    top: 65px;
    padding: 0px 0px 30px 0px;
    z-index: 1000;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 5px 4px #9d9d9e;
    background: #ffffff;
    white-space: nowrap;
    width: auto;
    background: #ffffff;
    border: 2px solid #8a8989;
    font-family: Tahoma, Geneva, sans-serif;
}

#main_menu .item_menu .submenu h4 {
    margin: 10px 0 5px;
}

#main_menu .item_menu .submenu h4 a {
    color: #5a5a71;
    font-size: 15px;
    font-weight: bold;
}

#main_menu .item_menu .submenu ul {
    list-style: none;
    margin-left: 10px;
}

#main_menu .item_menu .submenu a {
    font-weight: normal;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 11px;
    color: #5a5a71;
    text-shadow: none;
    text-align: left;
}

#main_menu .item_menu .submenu a:hover {
    background: #e1e0e0;
}



#main_menu .item_menu.link_0 .submenu {
    -moz-border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

#main_menu .item_menu.link_1 .submenu {
    left: 0;
}

#main_menu .item_menu.link_2 .submenu {
    right:0;
}

#main_menu .item_menu:hover .submenu {
    display: block;
}

#main_menu .item_menu div a {
    display: inline;
    border: 0;
    background: none;
}

#main_menu .item_menu .submenu .menuitem {
    display: inline-block;
    float: left;
    padding: 15px 30px 0 15px;
    position: relative;
    width: 155px;
    z-index: 1000;
    background: url(/static/img/menuitem_bg.png) no-repeat left top;
}

#main_menu .item_menu .submenu .menuitem a {
    display: block;
    height: auto;
    margin: 0;
    padding: 0 2px;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
}

#main_menu .item_menu .submenu .menuitem a:hover {
    padding: 0 2px;
    margin: 0;
}

#main_menu .item_menu .submenu .more {
    clear: both;
    font-size: 10px;
    color: #1a91c9;
    position: absolute;
    bottom: 5px;
    left: 20px;
    min-width: 150px;
    display: block;
    height: auto;
    text-decoration: underline;
}

#main_menu .item_menu .submenu .more:hover {
    text-decoration: none;
    background: none;
}

.menu_catalog .menu_item {
    float: left;
    width: 33%;
    margin: 0 0 25px;
}

.menu_catalog .menu_item h3 {
    font-size: 19px;
    font-weight: normal;
    line-height: 100%;
    color: #222222;
}

.menu_catalog .menu_item h3 span {
    font-size: 13px;
    margin:  0 0 0 3px;
    color: #646464;
}
.menu_catalog .menu_item a {
    text-decoration: none;
}

.menu_catalog .menu_item h3 a {
    font-size: 19px;
    color: #222222;
}

.menu_catalog .menu_item ul {
    list-style: none;
    margin: 0 0 5px 10px;
    line-height: 125%;
}

.menu_catalog .menu_item ul li a {
    font-size: 13px;
    color: #222222;
}
.menu_catalog .menu_item ul li a span {
    font-size: 11px;
    margin:  0 0 0 3px;
    color: #646464;
}

.menu_catalog .menu_item ul li a:hover {
    text-decoration: underline;
}

.menu_catalog .menu_item a.all {
    color: #c20624;
    text-decoration: underline;
    font-size: 13px;
    padding: 0 0 0 10px;
    display: block;
}

.menu_catalog .menu_item a.all:hover {
    text-decoration: none;
}

#top_banners {
    border: 2px solid #838384;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    float: left;
    height: 160px;
    margin: 0 12px 0 0;
    position: relative;
    width: 425px;
    overflow: hidden;
}
#top_banners a {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;    
    height: 160px;
    width: 448px;
    display: block;
}
#top_banners #carousel_nav {
    position: absolute;
    right: -1px;
    bottom: 6px;
    z-index: 0;
}
#top_banners .pics {
    z-index: -100;
}
#top_banners #carousel_nav a {
    background: url("/static/img/indexbanner_nav.png") no-repeat scroll 0 0 transparent;
 /*  border-radius: 7px; */
    display: block;
    float: left;
    height: 21px;
    margin: 0 2px 0 0;
    width: 21px;
  /*  border: 1px solid #d3d3d3;
    background: #ffffff;
    box-shadow: 0px 1px 1px 1px #acacac inset; */
}
#top_banners #carousel_nav a.activeSlide {
    background: url("/static/img/indexbanner_nav_h.png") no-repeat scroll 0 0px transparent;
}
#tovar_day img{
    margin:0;
}
#tovar_day p{
    display: inline-block;
}
#content #left_column{
    float: left;
    width: 210px;
    margin: 0 20px 0 0;
}
#left_column {
    background: none repeat scroll 0 0 #E2E6EB;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 0 0;
}

#content #left_column .left_column_wrapper {
    background: none repeat scroll 0 0 #F3F8FD;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 10px 1px;
    margin: 0;
}
#left_column .left_rubriks > ul {
    margin: 0;
}
#left_column .left_rubriks ul {
    list-style: none outside none;
}
#left_column .left_rubriks ul li {
    margin: 0 0 10px;
}
#left_column .left_rubriks ul li ul li {
    margin: 0;
}
#left_column .left_rubriks ul li h4 a {
    color: #222222;
    font-size: 19px;
    font-weight: normal;
    text-transform: capitalize;
}
#left_column .left_rubriks ul li h4 .count {
   font-size: 13px; 
   font-weight: bold;
}

#left_column .left_rubriks ul li .count {
    display: inline;
    font-size: 11px;   
    color: #646464;
    font-weight: normal;
}
#left_column .left_rubriks ul li a {
    color: #000000;
    font-size: 13px;
    text-decoration: none;
    text-transform: lowercase;
}
#left_column .left_rubriks ul li a:hover {
    text-decoration: underline;
}
#left_column .left_rubriks ul li a.all {
    margin: 0 0 0 10px;
}
#left_column .left_rubriks ul li ul li a {
    color: #000000;
}
#left_column .left_rubriks ul li ul {
    margin: 0 0 0 10px;
}

#left_column ul.rubric_news {
    margin: 0 0 0 10px;
}

#left_column ul.rubric_news li {
    margin: 0 0 7px 0;
}

#left_column ul.rubric_news li a {
    color: #222222;
    text-decoration: none;
    font-size: 16px;
}

#left_column ul.rubric_news li a:hover {
    text-decoration: underline;
}

#left_column ul.rubric_news li.active a {
    color: #bd0202;
}
#breadcrumb ul{
    list-style: none outside none;
    background: none; 
}
#breadcrumb li{
    float: left;
    font-size: 11px;
}
#breadcrumb a{
    color: #C20624;
    font-size: 11px;
    text-decoration: underline;
}

.title {
    color: #C20624;
    float: left;
    font-size: 22px;
    margin: 0 !important;
    margin-right: 15px;
}
.vproduct{
    text-align: center;
}
.vproduct a {
    color: #1a91c9;
}
.vproduct a.fn {
    color: #000000;
}
.vproduct table td {
    vertical-align: top;
}

.vproduct table td.first {
    width: 120px;
    position: relative;
    
}
.code {
    color: #c20624;
    font-size: 13px;
}
.vproduct .photo_wrapper {
    display: table;
    height: 100px;
    margin: 0 auto;
}
.fn {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    margin:  0 0 10px 0;
    display: block;
    height: 37px;
    overflow: hidden;
    text-decoration: underline;
}
.fn:hover {
    text-decoration: none;
    color: #c20624;
}
.availability {
    color: #474646;
    font-size: 12px;
}

.availability .green {
    color: #31981b;
}
a.price {
    color: #c20624;
    font-size: 17px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
}

.price span {
    font-size: 10px;
}

.buy {
    background: url(/static/img/buy.png) no-repeat;
    padding: 6px 10px;
    /*text-shadow: 1px 1px #666666; */
    font-size: 16px !important;
    margin: 0 auto;
    margin-top: 10px;
    color: #ffffff !important;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 120% !important;
    border: none;
}

.buy:hover {
    background:url(/static/img/buy_hover.png) 3px center no-repeat;
    text-decoration: none;
}
.item_list .vproduct .more {
    color: #287392;
    font-size: 11px;
    text-decoration: underline;
}
.product_left_container {
    float: left;
    position: relative;
    margin: 0 10px 10px 0;
    text-align: center;
    overflow: hidden;
    background: url(/static/img/sprite_nexshop.png);
    background-position: -2271px -112px;
    width: 311px;
    height: 249px;
    padding: 10px;
}
#product_container .fn {
    font-size: 17px;
    color: #474646;
    font-weight: normal;
    margin: 0 0 10px;
    text-decoration: none;
}
img.product-image{
    margin: 0 auto;
    display: inline-block;
}
#product_container .vertical-slider{
    display: none;
}
#product_container a.price {
    color: #c20624;
    font-size: 17px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
}
#product_container .prices {
    padding-top: 20px;
}
span.b-share__text{
    color:#000;
}
#content #reverse_call {
    background: url("/static/img/callback_h.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 82px;
    width: 275px;
}
#content #reverse_call:hover {
    background: url("/static/img/callback.png") no-repeat scroll 0 0 transparent;
}
#online_cons {
    display: inline-block;
    position: relative;
    bottom: 25px;
}
#top_menu #enter a{ 
    width: 200px;
    text-align: right;
    color: white;
    font-size: 15px;
    text-decoration: none;
    display: block;
    height: 28px;
    padding: 7px 8px 0 35px;
    background: url(/static/img/login.png) no-repeat 5px;
}
#enter {      
    position: absolute;
    right: 0px;
    top: 0; 
}

#enter:hover {
    background: #717172;
}
.filter-title{
    color: #C20624;
    font-size: 18px;
    font-weight: normal;
}
.ui-slider .ui-slider-range {
    background: #ff4f4f;
    background: -moz-linear-gradient(top, #ff4f4f 0%, #c20624 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4f4f), color-stop(100%,#c20624));
    background: -webkit-linear-gradient(top, #ff4f4f 0%,#c20624 100%);
    background: -o-linear-gradient(top, #ff4f4f 0%,#c20624 100%);
    background: -ms-linear-gradient(top, #ff4f4f 0%,#c20624 100%);
    background: linear-gradient(to bottom, #ff4f4f 0%,#c20624 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4f4f', endColorstr='#c20624',GradientType=0 );
}
button.btn-info:hover, button.btn-info:active, button.btn-info.active, button.btn-info.disabled, button.btn-info[disabled]{
    background: #C20624;
    background-position: 0;
}
button.btn{
    background: #ff4f4f;
    background: -moz-linear-gradient(top, #ff4f4f 0%, #c20624 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4f4f), color-stop(100%,#c20624));
    background: -webkit-linear-gradient(top, #ff4f4f 0%,#c20624 100%);
    background: -o-linear-gradient(top, #ff4f4f 0%,#c20624 100%);
    background: -ms-linear-gradient(top, #ff4f4f 0%,#c20624 100%);
    background: linear-gradient(to bottom, #ff4f4f 0%,#c20624 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4f4f', endColorstr='#c20624',GradientType=0 );
}
