<div id="footer_wrapper">
<div id="footer_wrapper2">
<hr class="footer" />
<div id="footer">
<div class="copyright">
<p class="copy">&copy; Интернет-магазин бытовой техники</p>
<div class="vcard">
<p><a href="/" class="url fn">shop.nexcomp.ru  2010-2012</a></p>
</div>
</div><!-- end div copyright -->

<div class="social_links">
<p>Будьте в курсе обновлений</p>
<a class="facebook" target="_blank" href="#"><img src="/sites/evrotehnika/images/facebook.png" /></a>
<a class="vkontakte" target="_blank" href="http://vkontakte.ru/club31294845"><img src="/sites/evrotehnika/images/vkontakte.png" /></a>
<a class="odnoklassniki" target="_blank" href="http://www.odnoklassniki.ru/cdk/st.cmd/anonymLogin/st.redirect/%252Fgroup%252F54038164799508/tkn/5854">
<img src="/sites/evrotehnika/images/odnoklassniki.png" /></a>
<a class="mailru" target="_blank" href="#"><img src="/sites/evrotehnika/images/moi-mir.png" /></a>
</div><!-- end div social_links -->

<div class="oplata">
<p>Принимаем к оплате</p>
<img src="/sites/evrotehnika/images/visa.png" />
</div>

<div class="aqua">
<p><a href="http://www.aquaweb.com.ua/read/ru/sozdanie-internet-magazina" title="Cоздание интернет-магазина" target="_blank">Cоздание интернет-магазина</a></p>
<a href="http://www.aquaweb.com.ua/read/ru/sozdanie-internet-magazina" title="Cоздание интернет-магазина" target="_blank"><img title="Cоздание интернет-магазина" alt="Cоздание интернет-магазина"  src="/sites/evrotehnika/images/aqua.png" /></a>
</div>

</div><!-- end div footer -->
</div>
</div><!-- end div footer_wrapper -->
