{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{% load lfs_portlets_tags %}

{# This is version of top bar for printer #}
<div class="row-fluid print-show"><div class="span12">{{ SHOP.name }}</div></div>

{# This is a common version of top bar #}
<div id="top_menu" class="row-fluid print-hide">
    <div class="span7">
        {% include "lfs/link_bar.html" %}        
    </div>
    <div class="span5">
        <div class="navbar pull-right header-nav">
            <ul id="login" class="nav">
            {% if user.is_authenticated %}
                {% if user.first_name %}
                    <li><a><i class="icon-user"></i> {{ user.get_full_name|truncatechars:20 }}</a></li>
                {% else %}
                    <li><a><i class="icon-user"></i> {{ user.username|truncatechars:20 }}</a></li>
                {% endif %}


                {% if user.is_superuser %}
                    <li><a href="{% url lfs_manage_dashboard %}">{% trans 'Manage' %}</a></li>
                {% endif %}

                <li><a href="/logout">{% trans 'Logout' %}</a></li>
                <li><a href="{% url lfs_my_account %}">{% trans 'My account' %}</a></li>
            {% else %}
                {% if not ANON_ONLY %}
                    <li id="enter"><a href="{% url lfs_login %}">{% trans 'Вход в интернет-магазин' %}</a></li>
                {% endif %}                        
            {% endif %}
            </ul>
        </div>
    </div>
</div>
<img class="topmenu_shadow" src="{{STATIC_URL}}img/topmenu_bg.png">