.sf-menu li:nth-last-child(-n+4) .dropdown-menu {
    left: -583px;
}
.sf-menu ul {
    top:65px!important
}
.sf-menu li:hover ul {
    display: block!important;
    border: none;
    box-shadow: none;
    visibility: visible!important;
    left: 0;
    width: auto;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top: 0!important;
    left: 0!important;
    width: auto!important;
}
.sf-sub-indicator {
    display: none!important;
}
.a_category.sf-with-ul{
    min-height: 40px;
}
#main-nav .sub-nav {
    display: none;
    background: #fdfdfd; /* Old browsers */
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    .sub-nav {
        display: block!important;
    }
}
.main-category {
    display: inline-block;
    list-style: none;
}

.dropdown-menu {
    display: inline-block;
    width: 730px!important;
    margin: -5px 0 0 0px!important;
    border-radius: 0px;
        li a{
            &:hover {
                background: none;
            }
        }
}
.navbar .nav>li>.dropdown-menu li {
    width: 200px;
    text-align: left;
    margin-left: 22px;
    &:hover {
        background: none;
    }

}
.navbar .nav>li>.dropdown-menu li {
    margin-top: 0px;
    margin-bottom: 0px;
}
.dropdown-menu .dropdown-menu {
    display: block!important;
    position: relative;
    border: none;
    box-shadow: none;
    visibility: visible!important;
    left: 0;
    width: auto!important;
    text-align: left;
    background: none;
    li {
        list-style-image: url('/static/img/arrow.png')!important;
        width: 180px!important;
        a {
            color: #075296!important;
            font-size: 13px;
            font-weight: normal!important;
            &:hover {
                background: none;
            }
        }
    }
}
.column2 {
    width: 450px!important;
}
.dropdown-menu li>a {
    white-space: normal;
    color: #000!important;
    font-weight: bold!important;
    padding: 0px 0px!important;
    font-size: 15px;
}
.featured-products-portlet  {
    width: 100%;
    .portlet-header {
        background: #c8cfd5; /* Old browsers */
        background: -moz-linear-gradient(top,  #c8cfd5 0%, #c8cfd5 50%, #c8cfd5 75%, #aeb5bb 92%, #c8cfd5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8cfd5), color-stop(50%,#c8cfd5), color-stop(75%,#c8cfd5), color-stop(92%,#aeb5bb), color-stop(100%,#c8cfd5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #c8cfd5 0%,#c8cfd5 50%,#c8cfd5 75%,#aeb5bb 92%,#c8cfd5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #c8cfd5 0%,#c8cfd5 50%,#c8cfd5 75%,#aeb5bb 92%,#c8cfd5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #c8cfd5 0%,#c8cfd5 50%,#c8cfd5 75%,#aeb5bb 92%,#c8cfd5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #c8cfd5 0%,#c8cfd5 50%,#c8cfd5 75%,#aeb5bb 92%,#c8cfd5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8cfd5', endColorstr='#c8cfd5',GradientType=0 ); /* IE6-9 */
        border-top: 2px solid #77adad;
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 3px;
        h4 {
            font-size: 25px;
            color: #073894;
            padding-left: 20px;
            font-weight: normal;
        }
    }
    .product-price {
        color: #e01b25;
    }
}