{% load i18n %}
{% load mptt_tags %}
{% load lfs_tags %}

{% for category in categories %}
{% if request.path == category.get_absolute_url  %}
    {% if not category.is_leaf_node %}   
    <div id="left_column" class="left_column disabled">
    <div class="left_column_wrapper">
    <div class="left_rubriks">        
    <ul>
        {% for item in category.get_children %}
        <li><h4><a href="{{ item.get_absolute_url }}">{{ item.name }}  <span class="count">({{ item.product_count }})</span></a></h4></li>
            {% if not item.is_leaf_node %}           
            <ul>
                {% for sub_item in item.get_children %}
                <li><a href="{{ sub_item.get_absolute_url }}">{{ sub_item.name }}  <span class="count">({{ sub_item.product_count }})</span></a></li>
                {% endfor %} 
            </ul>
            {% endif %}
        {% endfor %} 
    </ul>
    </div>
    </div>
    </div>
    {% endif %}
{% endif %}
{% endfor %}
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
