{% load i18n lfs_tags sshop_tags %}

{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
                <p class="availability">Наличие: <span class="green">{{ product.status.name }}</span></p>
            </div>
            <div class="span8">
                <div class="product-caption"><a href="{% url lfs_product product.slug %}"  class="fn">{{ product.name }}</a></div>
                <span class="code">Код: {% show_product_id product %}</span>
                <div class="product-description">{{ product.get_short_description|safe }}</div>{% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
                <a href="{% url lfs_product product.slug %}" class="more">подробнее</a>
                <div class="product-statuses">
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
                </div>
                <div class="product-form">
                {% if product.has_variants %}
                    {% if product.get_default_variant.id in request.session.comparison %}
                    <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% else %}
                    {% if product.id in request.session.comparison %}
                    <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            <div class="span2">
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <a class="price">{{ product.price }} <span>{{ SHOP.default_currency.abbr }}</span></a>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form"
                data="{% url lfs_select_variant_from_properties %}" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <button class="buy">{% trans "Купить" %}</button>
            </form>
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}
