{% load i18n lfs_tags %}
<div class="row-fluid category-toolbar">
    <div class="span12">
    <h1 class="title pull-left">{{ category.name }} ({{ products_count }})</h1>

    <div class="pull-right">
    <div class="btn-group pull-left category-view-toolbar">
        <a href="{% url lfs_catalog_set_page_mode %}?mode=list" class="btn{% if page_mode == 'list' %} active{% endif %}"
            title="{% trans 'List' %}"><i class="icon-list"></i></a>
        <a href="{% url lfs_catalog_set_page_mode %}?mode=table" class="btn{% if page_mode == 'table' %} active{% endif %}"
            title="{% trans 'Table' %}"><i class="icon-th-large"></i></a>
    </div>
    <div class="pull-left">
    {% sorting %}
    </div>
    </div>
    </div>
</div> <!-- row-fluid -->

<script type="text/javascript">
$('.category-toolbar a').click(function () {
    if ($(this).attr('href').split('mode=')[1] == "list")
    {
        mediator.publish('list_page_mode');
    }
    else
    {
        mediator.publish('table_page_mode');
    }
})
</script>
