{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
        {# {% load share_widget %} #}
        {# {% share_us_widget %} #}
<div class="row-fluid">
<div class="span12">
<div id="product_container">
<form id="product-form" action="{% url lfs.catalog.views.product_form_dispatcher %}"
class="add-to-cart-form"
data="{% url lfs_select_variant_from_properties %}" method="post">
{% csrf_token %}
<div class="row-fluid">
    {# Images #}
    <div class="span4">
        <div class="product_left_container">
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url_400x400 }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_200x200 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
        </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}
        <p class="availability">Наличие: <span class="green">{{ product.status.name }}</span></p>
         {% if product.id in request.session.comparison %}
            <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
            {% else %}
            <a id="compare" href="javascript:compare_add_product({{ product.id }})">{% trans "Compare" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="span1">
    <div class="vertical-slider">
        <ul class="thumbnails main-product">
            {% for image in product.get_sub_images %}
            <li class="span12">
                <a href="{{ image.image.url_400x400 }}" class="colorbox thumbnail" rel="colorbox"
                title="{{ image.title }}">
        <img src="{{ image.image.url_60x60 }}"
             alt="{{ image.title }}" />
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <div class="span7" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
        <h1 class="fn"><span itemprop="name">{{ product.get_name }}</span></h1>
        <div>{% average_for_instance product %}</div>
        <span class="code">Код: {% show_product_id product %}</span>
        {# Prices #}
        <div class="prices">
        {% if product.get_for_sale %}
            <div class="product-price">
            <span class="label label-important price" price="{{ product.price }}" currency="{{ currency.code }}">{% for_sale_price product %}</span>
            <ul>
            <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
            <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
            </ul>
            </div>
        {% else %}
                <a class="price">{{ product.price }} <span>{{ SHOP.default_currency.abbr }}</span></a>
        {% endif %}
        </div>
        {% if product.manage_stock_amount %}
        <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
        {% if product.unit %}{{ product.unit }}{% endif %}</span>
        {% endif %}
        {% if product.manual_delivery_time %}
        {% trans "Delivery in" %} {{ product.delivery_time }}
        {% endif %}

        {% if product.status.show_buy_button %}              
            <button class="buy" type="submit" name="add-to-cart">{% trans "Купить" %}</button>
        {% else %}
            <button class="btn btn-primary emphasized"
            onclick="window.location='{% url lfs_contact_form %}'; return false"
            name="">
                <i class="icon-shopping-cart icon-white">
                </i>
                {% trans 'Send request' %}
            </button>
        {% endif %}
        <div>{# shipping product #}</div>
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div> 
<g:plusone></g:plusone>

<div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true" data-font="trebuchet ms"></div>

<script type="text/javascript">
  window.___gcfg = {lang: 'ru'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</div>
</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />

<div class="row-fluid">
    <div class="span12">
    <div class="short-description">
        <span itemprop="description">{{ product.get_short_description|safe}}<span>
    </div>
    </div>
</div>

{# Configurable Properties #}
{% if product.is_configurable_product %}
    <div class="row-fluid">
        {% include "lfs/catalog/products/property_list.html" %}
    </div>
{% endif %}

{# Variants #}
{% if product.is_variant %}
<div class="row-fluid">
    <div class="span12">
        <div class="variants">
            <h3 class="section">
                {% trans 'Variants' %}
            </h3>
            {# List #} {% if display_variants_list %}
            <table class="table table-bordered table-striped product-variants lfs-default"
            data="{% url lfs_select_variant %}">
                <tr>
                    <th>
                    </th>
                    <th>
                        {% trans 'Name' %}
                    </th>
                    {% for product_variant in variants|slice:"1" %}
                    {% for property in product_variant.get_variant_properties %}
                    <th>
                        {{ property.title }}
                    </th>
                    {% endfor %}
                    {% endfor %}
                    <th class="number">
                        {% trans 'Price' %}
                    </th>
                </tr>
                {% for product_variant in variants %}
                <tr>
                    <td class="select">
                        <input type="radio" class="variant" name="variant_id"
                        value="{{ product_variant.id }}"
                        {% ifequal product_variant.id product.id %}
                        checked="checked"
                        {% endifequal %} />
                    </td>
                    <td>
                        {{ product_variant.get_name }}
                    </td>
                    {% for property in product_variant.get_variant_properties %}
                    <td>
                        {{ property.value }}
                    </td>
                    {% endfor %}
                    <td class="number" nowrap="nowrap">
                        {% if product_variant.get_for_sale %}
                        <span class="for-sale-standard-price">
                            {{ product_variant|get_standard_price:request|currency:request}}
                        </span>
                        {{ product_variant|get_for_sale_price:request|currency:request}} {% else %} {{ product_variant|get_price:request|currency:request}} {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div>
                {% for property in properties %}
                <div>
                    <span class="property-label">
                        {{ property.title }}:
                    </span>
                    <select class="property" name="property_{{ property.id }}">
                        {% for option in property.options %}
                        <option value="{{ option.id }}"
                        {% if option.selected %}selected="selected"{% endif %}>
                            {{ option.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="row-fluid">
<div class="span12">

<div id="product-tabs">
<ul>
    <li><a href="#properties">{% trans "Характеристики" %}</a></li>
{% if product.has_description %}
    <li><a href="{% url lfs_product_description product.slug %}"><span>{% trans "Description" %}</span></a></li>
{% endif %}
{% if product.has_accessories %}
    <li><a href="{% url lfs_product_accessories product.slug %}"><span>{% trans "Accessories" %}</span></a></li>
{% endif %}
    <li><a href="{% url lfs_product_reviews product.slug %}"><span>{% trans "Reviews" %}</span></a></li>
</ul>
<div id="properties">
    {{ global_properties|safe }}
</div>
</div>

</div></div>

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{# Accessories #} {% if product_accessories %}
<div class="row-fluid">
    <div class="span12">
        <div class="accessories">
            <h3 class="section">
                {% trans 'Accessories' %}
            </h3>
            <table class="table table-striped table-bordered product-accessories lfs-default">
                <tr>
                    <th>
                    </th>
                    <th>
                        {% trans 'Name' %}
                    </th>
                    <th class="number">
                        {% trans 'Quantity' %}
                    </th>
                    <th class="number">
                        {% trans 'Price' %}
                    </th>
                    <th class="number last">
                        {% trans 'Total' %}
                    </th>
                </tr>
                {% for product_accessory in product_accessories %}
                <tr>
                    <td class="checkbox-left">
                        <input type="checkbox" name="accessory-{{ product_accessory.accessory.id }}"
                        />
                    </td>
                    <td>
                        <a href="{{ product_accessory.accessory.get_absolute_url }}">
                    {{ product_accessory.accessory.get_name|truncatewords_html:5 }}
                </a>
                    </td>
                    <td class="number">
                        <input type="hidden" name="quantity-{{ product_accessory.accessory.id }}"
                        value="{{ product_accessory.quantity }}" />
                        {{ product_accessory.quantity|quantity }}
                    </td>
                    <td class="number" nowrap="nowrap">
                        {{ product_accessory.accessory|get_price:request|currency:request}}
                    </td>
                    <td class="number" nowrap="nowrap">
                        {{ product_accessory|get_price:request|currency:request}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
</form>
</div>
</div>
</div>

<script type="text/javascript">
    function notebook_add_product(product_id){
        $.ajax({
            url: "/notebook/add-product/" + product_id + "/",
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url lfs_notebook %}");
            }
        });
    };

    function compare_add_product(product_id) {
        $.ajax({
            url: "/comparison/add-product/" + product_id +"/",
            dataType: "json",
            success: function(msg){
                $("#compare").text("Добавлен к сравнению");
                $("#compare").attr("href", "{% url lfs_comparison %}");
            }
        });
    };
</script>


